In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('data/appleStockPrices.csv')
df = df.round(0)
df

           Date  Close   High    Low   Open    Volume
0    2024-01-02  185.0  187.0  183.0  186.0  82488700
1    2024-01-03  183.0  185.0  182.0  183.0  58414500
2    2024-01-04  181.0  182.0  180.0  181.0  71983600
3    2024-01-05  180.0  182.0  179.0  181.0  62303300
4    2024-01-08  184.0  184.0  180.0  181.0  59144500
..          ...    ...    ...    ...    ...       ...
246  2024-12-23  255.0  255.0  253.0  254.0  40858800
247  2024-12-24  258.0  258.0  255.0  255.0  23234700
248  2024-12-26  259.0  260.0  257.0  258.0  27237100
249  2024-12-27  255.0  258.0  253.0  258.0  42355300
250  2024-12-30  252.0  253.0  250.0  252.0  35557500

[251 rows x 6 columns]

In [4]:
data = {
    'ticker': np.random.choice(['AAPL', 'GOOG', 'MSFT'], size=12),
    'date': pd.date_range(start='2023-01-01', periods=12, freq='D'),
    'volume': np.random.randint(100, 1000, size=12),
    'return': np.round(np.random.normal(loc=0.001, scale=0.02, size=12), 4)
}
df = pd.DataFrame(data)
df

   ticker       date  volume  return
0    MSFT 2023-01-01     476 -0.0068
1    AAPL 2023-01-02     385  0.0144
2    AAPL 2023-01-03     934 -0.0360
3    AAPL 2023-01-04     401  0.0344
4    MSFT 2023-01-05     591 -0.0159
5    AAPL 2023-01-06     741  0.0068
6    MSFT 2023-01-07     770 -0.0187
7    GOOG 2023-01-08     554 -0.0195
8    MSFT 2023-01-09     691  0.0288
9    AAPL 2023-01-10     869  0.0233
10   MSFT 2023-01-11     921 -0.0227
11   AAPL 2023-01-12     570  0.0056

In [5]:
df.groupby('ticker').agg(['mean', 'std'])

                      date                           volume              \
                      mean                       std   mean         std
ticker
AAPL   2023-01-06 04:00:00 4 days 00:29:55.336756266  650.0  234.744116
GOOG   2023-01-08 00:00:00                       NaT  554.0         NaN
MSFT   2023-01-06 14:24:00 3 days 20:19:47.436585680  689.8  169.822554

          return
            mean       std
ticker
AAPL    0.008083  0.024146
GOOG   -0.019500       NaN
MSFT   -0.007060  0.020882

In [7]:
profitSellToday = 0
maxProfit = 0
minPrice = 0

prices = [7, 9, 1, 8, 2, 30]
minPrice = prices[0]

for p in prices[1:]:
    profitSellToday = p - minPrice
    maxProfit = max(maxProfit, profitSellToday)
    minPrice = min(minPrice, p)

print(maxProfit)

29

In [9]:
prevPrice = prices[0]
profit = 0
for p in prices[1:]:
    if p >= prevPrice:
        profit += p - prevPrice
    prevPrice = p
profit

37

In [2]:
from sklearn.linear_model import LinearRegression
import numpy as np

In [ ]:
x = np.random.randint(200, 400, 100)
y = 2.5 * x
x = x.reshape(-1, 1)
lr = LinearRegression()
lr.fit(x, y)
print(lr.coef_)

x_cum_sum = np.cumsum(x)
y_cum_sum = np.cumsum(y)

lr = LinearRegression()
lr.fit(x_cum_sum.reshape(-1, 1), y_cum_sum)
print(lr.coef_)

[2.5]
[2.5]